main{
    /* width: 100vh; */
    height: 100vh;
    background-image: url(./BG2.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 78vh;
    width: 40vh;
    backdrop-filter: blur(10px);
    background-color: rgb(255,255,255,0.2);
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid #fff;
    padding-left: 30px;
}

h1{
    border-radius: 12px;
    font-size: 2.3rem;
    color: rgb(5,5,6);
    padding-left: 15px;
}

label{
    font-weight: 800;
    color: black;
    font-size: 18px;
}

input{
    padding: 1px 7px;
    border-radius: 4px;
    font-weight: 700;
    border: 1px solid black;
    
}

p{
    padding: .2rem;
    font-size: 16px;
    color: rgb(249,249,249);
}

#result{
    background-color:white;
    font-size: 25px;
    font-weight: bold;
}